<div>
  <nav class="bg-gray-800 text-gray-200">
    <div class="md:px-16 px-2 py-2 max-w-full mx-auto flex justify-between  md:text-xl md:text-lg items-center space-x-2">
      <div class="md:space-x-12 space-x-2 flex justify-between items-center ">
        <div class="items-center ">
          <svg viewBox="0 0 960 200" class="h-full w-full items-center">
            <symbol id="s-text">
              <text text-anchor="middle" x="30%" y="60%" class="text-8xl">
              <a class="hover:text-gray-600 " href="/">todolist</a>
              
              </text>
            </symbol>
            <g class = "g-ants">
    <use href="#s-text" class="text-copy"></use>
    <use href="#s-text" class="text-copy"></use>
    <use href="#s-text" class="text-copy"></use>
    <use href="#s-text" class="text-copy"></use>
    <use href="#s-text" class="text-copy"></use>
</g>
          </svg>
          
        </div>
        
      </div>
      <div>
      <div class="space-x-3 items-center flex flex-row ">
        
         
          </div>
        
        
      </div>
    </div>
  </nav>
</div>
