<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/todo.css" type="text/css" >
  
</head>
<body class="container ">

<header>
  <%- include('../partials/header'); %>
</header>

<div class="containers ">
  <h2 >TODO LIST</h2>
  <h3>Add Item</h3>
  <p class="mt-4">
    <input id="new-task" type="text" ><button>Add</button>
  </p>

  <h3>List</h3>
  
  <ul id="tasks">

  </ul>
</div>


<footer>
  <%- include('../partials/footer'); %>

</footer>
<script src="/js/todo.js"></script>
</body>
</html>
